ukgdatafactorypoc/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ukgdatafactorypoc"
		},
		"AzureDataLakeStorageukg_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageukg'"
		},
		"AzureDatabricksDeltaLake1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksDeltaLake1'"
		},
		"AzureDatabricksnotebook_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksnotebook'"
		},
		"AzureSqlDatabaseukg_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseukg'"
		},
		"Salesforce1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Salesforce1'"
		},
		"Salesforce1_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'Salesforce1'"
		},
		"AzureDataLakeStorageMI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ukgsynapsepoc.dfs.core.windows.net"
		},
		"AzureDataLakeStorageukg_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ukgsynapsepoc.dfs.core.windows.net"
		},
		"Httpgetwether_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Springfield,IL?unitGroup=us&key=AHBS12DVFHFFSHF764DGDB"
		},
		"Salesforce1_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://test.salesforce.com"
		},
		"Salesforce1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "dinesh.chandran@kronos.com.fulldev"
		},
		"AzureDataLakeStorage1_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/2cfb1ffc-f925-4f8a-97c0-a08ebeae27b7/resourceGroups/ms-edw-poc/providers/Microsoft.Storage/storageAccounts/ukgsynapsepoc"
		},
		"AzureDataLakeStorage1_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/loadsfdatatodatalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_sf_ctrl_table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * from @{pipeline().parameters.pipe_tablename} where enabled = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DSAzureSqlTableukg",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkp_sf_ctrl_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_sf_ctrl_table').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "CopydatatoDL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "SELECT  @{item().All_Columns} FROM @{item().Source_object_name} \n WHERE \n @{item().WatermarkColumn} > @{item().WatermarkValue}\nAND\n@{item().WatermarkColumn} <= @{variables('maxdate')}",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Warning",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "AzureDataLakeStorageukg",
													"type": "LinkedServiceReference"
												}
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DSSFFULLDEV",
											"type": "DatasetReference",
											"parameters": {
												"objectname": {
													"value": "@item().Source_object_name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dlconn",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(item().Source_object_name,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "getmaxdate",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "SELECT MAX(@{item().WatermarkColumn}) maxd FROM @{item().Source_object_name} where @{item().WatermarkColumn} >= @{item().WatermarkValue}",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"dataset": {
											"referenceName": "DSSFFULLDEV",
											"type": "DatasetReference",
											"parameters": {
												"objectname": {
													"value": "@item().Source_object_name",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "sp_to_updatehighwatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopydatatoDL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_UpdateWatermark]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Int16"
											},
											"NewWatermark": {
												"value": {
													"value": "@concat(activity('getmaxdate').output.firstRow.maxd,'Z')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabaseukg",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "getmaxdate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "maxdate",
										"value": {
											"value": "@concat(activity('getmaxdate').output.firstRow.maxd,'Z')\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "copy data from Data Lake to Delta Lake",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "sp_to_updatehighwatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflow1",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().Source_object_name}'",
													"type": "Expression"
												},
												"keyfield": {
													"value": "'@{item().keyfield}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"sourceRawZone": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Coarse"
									}
								},
								{
									"name": "copy data from Delta Lake to Data Lake Staging",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "copy data from Data Lake to Delta Lake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "deltatostagefolder",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().Source_object_name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Coarse"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"pipe_tablename": {
						"type": "string",
						"defaultValue": "object_ctrl_table"
					}
				},
				"variables": {
					"maxdate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSAzureSqlTableukg')]",
				"[concat(variables('factoryId'), '/datasets/DSSFFULLDEV')]",
				"[concat(variables('factoryId'), '/datasets/dlconn')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseukg')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]",
				"[concat(variables('factoryId'), '/dataflows/deltatostagefolder')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loadsfdatatodatalake_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_sf_ctrl_table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * from @{pipeline().parameters.pipe_tablename} where enabled = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DSAzureSqlTableukg",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkp_sf_ctrl_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_sf_ctrl_table').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "CopydatatoDL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "SELECT  @{item().All_Columns} FROM @{item().Source_object_name} \n WHERE \n @{item().WatermarkColumn} > @{item().WatermarkValue}\nAND\n@{item().WatermarkColumn} <= @{variables('maxdate')}",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Warning",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "AzureDataLakeStorageukg",
													"type": "LinkedServiceReference"
												}
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DSSFFULLDEV",
											"type": "DatasetReference",
											"parameters": {
												"objectname": {
													"value": "@item().Source_object_name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet2",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(item().Source_object_name,'_',formatDateTime(utcnow(),'MM_dd_yyyy'),'.snappy.parquet')",
													"type": "Expression"
												},
												"foldername": {
													"value": "@item().Source_object_name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "getmaxdate",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "SELECT MAX(@{item().WatermarkColumn}) maxd FROM @{item().Source_object_name} where @{item().WatermarkColumn} >= @{item().WatermarkValue}",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"dataset": {
											"referenceName": "DSSFFULLDEV",
											"type": "DatasetReference",
											"parameters": {
												"objectname": {
													"value": "@item().Source_object_name",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "sp_to_updatehighwatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopydatatoDL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_UpdateWatermark]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Int16"
											},
											"NewWatermark": {
												"value": {
													"value": "@concat(activity('getmaxdate').output.firstRow.maxd,'Z')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabaseukg",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "getmaxdate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "maxdate",
										"value": {
											"value": "@concat(activity('getmaxdate').output.firstRow.maxd,'Z')\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "copy data from Data Lake to Delta Lake",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "sp_to_updatehighwatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflow1_Parquet",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().Source_object_name}'",
													"type": "Expression"
												},
												"keyfield": {
													"value": "'@{item().keyfield}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"sourceRawZone": {
													"filename": {
														"value": "@item().Source_object_name",
														"type": "Expression"
													},
													"foldername": "@item().Source_object_name"
												},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Coarse"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"pipe_tablename": {
						"type": "string",
						"defaultValue": "object_ctrl_table"
					}
				},
				"variables": {
					"maxdate": {
						"type": "String"
					},
					"ErrorDetails": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSAzureSqlTableukg')]",
				"[concat(variables('factoryId'), '/datasets/DSSFFULLDEV')]",
				"[concat(variables('factoryId'), '/datasets/Parquet2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseukg')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1_Parquet')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLakeDataset1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDatabricksDeltaLake1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDeltaLake1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSAzureSqlTableukg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseukg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSSFFULLDEV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"objectname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().objectname",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Httpgetwether",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Springfield,IL?unitGroup=us&key=AHBS12DVFHFFSHF764DGDB"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"queryCost": {
							"type": "integer"
						},
						"latitude": {
							"type": "number"
						},
						"longitude": {
							"type": "number"
						},
						"resolvedAddress": {
							"type": "string"
						},
						"address": {
							"type": "string"
						},
						"timezone": {
							"type": "string"
						},
						"tzoffset": {
							"type": "integer"
						},
						"description": {
							"type": "string"
						},
						"days": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"datetime": {
										"type": "string"
									},
									"datetimeEpoch": {
										"type": "integer"
									},
									"tempmax": {
										"type": "number"
									},
									"tempmin": {
										"type": "number"
									},
									"temp": {
										"type": "number"
									},
									"feelslikemax": {
										"type": "number"
									},
									"feelslikemin": {
										"type": "number"
									},
									"feelslike": {
										"type": "integer"
									},
									"dew": {
										"type": "number"
									},
									"humidity": {
										"type": "integer"
									},
									"precip": {
										"type": "integer"
									},
									"precipprob": {
										"type": "integer"
									},
									"precipcover": {
										"type": "null"
									},
									"preciptype": {
										"type": "null"
									},
									"snow": {
										"type": "integer"
									},
									"snowdepth": {
										"type": "integer"
									},
									"windgust": {
										"type": "integer"
									},
									"windspeed": {
										"type": "number"
									},
									"winddir": {
										"type": "integer"
									},
									"pressure": {
										"type": "number"
									},
									"cloudcover": {
										"type": "integer"
									},
									"visibility": {
										"type": "integer"
									},
									"solarradiation": {
										"type": "number"
									},
									"solarenergy": {
										"type": "number"
									},
									"uvindex": {
										"type": "integer"
									},
									"severerisk": {
										"type": "integer"
									},
									"sunrise": {
										"type": "string"
									},
									"sunriseEpoch": {
										"type": "integer"
									},
									"sunset": {
										"type": "string"
									},
									"sunsetEpoch": {
										"type": "integer"
									},
									"moonphase": {
										"type": "number"
									},
									"conditions": {
										"type": "string"
									},
									"description": {
										"type": "string"
									},
									"icon": {
										"type": "string"
									},
									"stations": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"source": {
										"type": "string"
									},
									"hours": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"datetime": {
													"type": "string"
												},
												"datetimeEpoch": {
													"type": "integer"
												},
												"temp": {
													"type": "number"
												},
												"feelslike": {
													"type": "number"
												},
												"humidity": {
													"type": "number"
												},
												"dew": {
													"type": "number"
												},
												"precip": {
													"type": "null"
												},
												"precipprob": {
													"type": "null"
												},
												"snow": {
													"type": "integer"
												},
												"snowdepth": {
													"type": "integer"
												},
												"preciptype": {
													"type": "null"
												},
												"windgust": {
													"type": "null"
												},
												"windspeed": {
													"type": "integer"
												},
												"winddir": {
													"type": "integer"
												},
												"pressure": {
													"type": "number"
												},
												"visibility": {
													"type": "number"
												},
												"cloudcover": {
													"type": "integer"
												},
												"solarradiation": {
													"type": "null"
												},
												"solarenergy": {
													"type": "null"
												},
												"uvindex": {
													"type": "integer"
												},
												"conditions": {
													"type": "string"
												},
												"icon": {
													"type": "string"
												},
												"stations": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"source": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						},
						"alerts": {
							"type": "array"
						},
						"stations": {
							"type": "object",
							"properties": {
								"K3LF": {
									"type": "object",
									"properties": {
										"distance": {
											"type": "integer"
										},
										"latitude": {
											"type": "number"
										},
										"longitude": {
											"type": "number"
										},
										"useCount": {
											"type": "integer"
										},
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"quality": {
											"type": "integer"
										},
										"contribution": {
											"type": "integer"
										}
									}
								},
								"KSPI": {
									"type": "object",
									"properties": {
										"distance": {
											"type": "integer"
										},
										"latitude": {
											"type": "number"
										},
										"longitude": {
											"type": "number"
										},
										"useCount": {
											"type": "integer"
										},
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"quality": {
											"type": "integer"
										},
										"contribution": {
											"type": "integer"
										}
									}
								},
								"KDEC": {
									"type": "object",
									"properties": {
										"distance": {
											"type": "integer"
										},
										"latitude": {
											"type": "number"
										},
										"longitude": {
											"type": "number"
										},
										"useCount": {
											"type": "integer"
										},
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"quality": {
											"type": "integer"
										},
										"contribution": {
											"type": "integer"
										}
									}
								},
								"KAAA": {
									"type": "object",
									"properties": {
										"distance": {
											"type": "integer"
										},
										"latitude": {
											"type": "number"
										},
										"longitude": {
											"type": "number"
										},
										"useCount": {
											"type": "integer"
										},
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"quality": {
											"type": "integer"
										},
										"contribution": {
											"type": "integer"
										}
									}
								},
								"KIJX": {
									"type": "object",
									"properties": {
										"distance": {
											"type": "integer"
										},
										"latitude": {
											"type": "number"
										},
										"longitude": {
											"type": "number"
										},
										"useCount": {
											"type": "integer"
										},
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"quality": {
											"type": "integer"
										},
										"contribution": {
											"type": "integer"
										}
									}
								},
								"F4825": {
									"type": "object",
									"properties": {
										"distance": {
											"type": "integer"
										},
										"latitude": {
											"type": "number"
										},
										"longitude": {
											"type": "number"
										},
										"useCount": {
											"type": "integer"
										},
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"quality": {
											"type": "integer"
										},
										"contribution": {
											"type": "integer"
										}
									}
								}
							}
						},
						"currentConditions": {
							"type": "object",
							"properties": {
								"datetime": {
									"type": "string"
								},
								"datetimeEpoch": {
									"type": "integer"
								},
								"temp": {
									"type": "number"
								},
								"feelslike": {
									"type": "number"
								},
								"humidity": {
									"type": "number"
								},
								"dew": {
									"type": "number"
								},
								"precip": {
									"type": "integer"
								},
								"precipprob": {
									"type": "null"
								},
								"snow": {
									"type": "null"
								},
								"snowdepth": {
									"type": "integer"
								},
								"preciptype": {
									"type": "null"
								},
								"windgust": {
									"type": "number"
								},
								"windspeed": {
									"type": "number"
								},
								"winddir": {
									"type": "integer"
								},
								"pressure": {
									"type": "integer"
								},
								"visibility": {
									"type": "number"
								},
								"cloudcover": {
									"type": "integer"
								},
								"solarradiation": {
									"type": "null"
								},
								"solarenergy": {
									"type": "null"
								},
								"uvindex": {
									"type": "null"
								},
								"conditions": {
									"type": "string"
								},
								"icon": {
									"type": "string"
								},
								"stations": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"sunrise": {
									"type": "string"
								},
								"sunriseEpoch": {
									"type": "integer"
								},
								"sunset": {
									"type": "string"
								},
								"sunsetEpoch": {
									"type": "integer"
								},
								"moonphase": {
									"type": "number"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Httpgetwether')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageukg",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('Raw_Zone/dineshpoc/rawzone/input/',dataset().foldername)",
							"type": "Expression"
						},
						"fileSystem": "ukgdatalakefspoc"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dlconn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageukg",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "Raw_Zone/dineshpoc/rawzone/input",
						"fileSystem": "ukgdatalakefspoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageMI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageMI_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageukg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageukg_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageukg_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-8474106774775046.6.azuredatabricks.net",
					"clusterId": "0303-160707-calyx555",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake1_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksnotebook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8474106774775046.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksnotebook_accessToken')]"
					},
					"instancePoolId": "0414-162710-leaky232-pool-NuN0WOIW",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "8.2.x-scala2.12",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseukg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseukg_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Httpgetwether')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Httpgetwether_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce1_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Salesforce1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Salesforce1_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('Salesforce1_securityToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManagedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorageukg",
								"type": "LinkedServiceReference"
							},
							"name": "sourceRawZone"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorageukg",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "AlterRow1"
						}
					],
					"script": "parameters{\n\tfilename as string,\n\tkeyfield as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tmoveFiles: ['/Raw_Zone/dineshpoc/rawzone/input','Raw_Zone/dineshpoc/rawzone/processed'],\n\tformat: 'delimited',\n\tfileSystem: 'ukgdatalakefspoc',\n\tfolderPath: 'Raw_Zone/dineshpoc/rawzone/input',\n\tfileName: (concat($filename,'.csv')),\n\tcolumnDelimiter: ',',\n\tescapeChar: '\\\\',\n\tqutoChar: '\\\"',\n\tcolumnNamesAsHeader: true) ~> sourceRawZone\nsourceRawZone alterRow(upsertIf(true())) ~> AlterRow1\nAlterRow1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tfileSystem: 'ukgdatalakefspoc',\n\tfolderPath: (concat('Raw_Zone/dineshpoc/delta/',$filename)),\n\tmergeSchema: true,\n\tautoCompact: false,\n\toptimizedWrite: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:[($keyfield)],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1_Parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Parquet2",
								"type": "DatasetReference"
							},
							"name": "sourceRawZone"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorageukg",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "AlterRow1"
						}
					],
					"script": "parameters{\n\tfilename as string,\n\tkeyfield as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tmoveFiles: ['Raw_Zone/dineshpoc/rawzone/input','Raw_Zone/dineshpoc/rawzone/processed'],\n\tformat: 'parquet',\n\twildcardPaths:[(concat('/Raw_Zone/dineshpoc/rawzone/input/',$filename,'/',$filename,'*'))]) ~> sourceRawZone\nsourceRawZone alterRow(upsertIf(true())) ~> AlterRow1\nAlterRow1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tfileSystem: 'ukgdatalakefspoc',\n\tfolderPath: (concat('Raw_Zone/dineshpoc/delta/',$filename)),\n\tmergeSchema: true,\n\tautoCompact: false,\n\toptimizedWrite: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:[($keyfield)],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parquet2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/deltatostagefolder')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorageukg",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorageukg",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "parameters{\n\tfilename as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'ukgdatalakefspoc',\n\tfolderPath: (concat('Raw_Zone/dineshpoc/delta/',$filename))) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delimited',\n\tfileSystem: 'ukgdatalakefspoc',\n\tfolderPath: (concat('Raw_Zone/dineshpoc/staging/',$filename)),\n\ttruncate: true,\n\tcolumnDelimiter: ',',\n\tescapeChar: '\\\\',\n\tqutoChar: '\\\"',\n\tcolumnNamesAsHeader: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageukg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {
				"preventDataExfiltration": false
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureDataLakeStorage1_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureDataLakeStorage1_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}